[submodule "elpa-to-submit/nyan-mode"]
	path = elpa-to-submit/nyan-mode
	url = git@github.com:folone/nyan-mode.git
[submodule "elpa-to-submit/roy-mode"]
	path = elpa-to-submit/roy-mode
	url = git@github.com:folone/roy-mode.git
[submodule "elpa-to-submit/emacs-scalaz-unicode-input-method"]
	path = elpa-to-submit/scalaz-unicode-input-method
	url = https://github.com/folone/emacs-scalaz-unicode-input-method.git
[submodule "elpa-to-submit/haskell-mode"]
	path = elpa-to-submit/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "elpa-to-submit/nxml-mode"]
	path = elpa-to-submit/nxml-mode
	url = git://github.com/emacsmirror/nxml.git
